<div id="container-audio-visual">

    <h1>Audio Visual Test</h1>
    <hr />

    <div class="av well">

        <!-- beginning of audio -->
        <div class="audio-test row question">
            <div class="col-md-8">
                <p style="display: inline;">Press the play button to play a sound, if you can hear a cardinal then click the checkbox below.</p>
            </div>
            <br>

            <div class="audio-container">
                    <audio controls>
                        <source src="/static/audio/cardinal.mp3" type="audio/mpeg">
                    </audio>
                    <div class="checkbox-container">
                        <input type="checkbox" id="audio-test" class="av-test"></input>
                        <label for="audio-test" id="audio-box-text">Disabled</label>
                    </div>
            </div>
        </div>
           
        <!-- beginning of video -->
        <div class="video-test row question">
            <div class="col-md-8">
                <p style="display: inline;">A video of the aurora borealis is playing on loop. If you can see the video without problem, click the checkbox below.</p>
            </div>
            <br>

            <div class="video-container">
                    <video autoplay loop>
                        <source src="/static/videos/aurora-borealis.mp4" type="video/mp4">
                    </video>
                    <div class="checkbox-container">
                        <input type="checkbox" id="video-test" class="av-test"></input>
                        <label for="video-test" id="video-box-text">Disabled</label>
                    </div>
            </div>

        </div>
        <!-- todo -->
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on audio-visual -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled'">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
