<div id="container-audio-visual">

    <h1>Audio Visual Test</h1>
    <hr />

    <div class="av well">

        <!-- beginning of audio -->
        <div class="audio-test row question">
            <div class="col-md-8">
                <p style="display: inline;">A sound is playing, if you can hear it click the checkbox.</p>
            </div>
            <br>

            <div class="audio-container">
                    <!--<audio></audio> -->
                    <p style="display: inline">[Audio goes here]</p>
                    <div class="checkbox-container">
                        <input type="checkbox" id="audio-test" class="av-test"></input>
                        <label for="audio-test" id="audio-box-text">Disabled</label>
                    </div>
            </div>
           
            

        </div>

        <div class="video-test">
            <video></video>
        </div>
        <!-- todo -->
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled'">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
