<div id="container-demographics">
	<h1>Pre-Questionnaire</h1>
	<hr />
    <p>Please tell us about yourself so that we may more accurately understand our results.</p>

	<div class="demographics well">

	    <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                What is your gender?
            </div>
            <div class="col-md-4">
                <select id="gender" name="gender" onchange="otherGender(this)">
                    <option value="" selected>Please select an option below</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="prefer not to say">Prefer not to say</option>
                    <option value="other">other</option>
                </select>
            </div>
            <div id="ifOtherGender" style="display: none;">
                <input type="text" id="otherGender" name="otherGender">
            </div>
        </div>
        <!-- end of a question -->

        <script type="text/javascript">
            function otherGender(that) {
                if (that.value == "other") {
                    document.getElementById("ifOtherGender").style.display = "block";
                } else {
                    document.getElementById("ifOtherGender").style.display = "none";
                }
            } 
        </script>
	    
	    <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                What is your age? (You must be atleast 18 years old)
            </div>
            <div class="col-md-4">
                <input type="number" name="age" id="age">
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How much experience do you have with robots and the subject of Robotics?</p>
            </div>
            <br>
            <div class="robot-xp-experience">
                <div class="robot-xp-radio">
                    <input type="radio" name="robotXP" id="robotXP1" value="1"></input>
                    <label for="robotXP1">1</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP2" value="2"></input>
                    <label for="robotXP2">2</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP3" value="3"></input>
                    <label for="robotXP3">3</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP4" value="4"></input>
                    <label for="robotXP4">4</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP5" value="5"></input>
                    <label for="robotXP5">5</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP6" value="6"></input>
                    <label for="robotXP6">6</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP7" value="7"></input>
                    <label for="robotXP7">7</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP8" value="8"></input>
                    <label for="robotXP8">8</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP9" value="9"></input>
                    <label for="robotXP9">9</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="robotXP" id="robotXP10" value="10"></input>
                    <label for="robotXP10">10</label>
                </div>
            </div>
            <div class="robot-xp-descriptions">
                <p style="display: inline;">I have no experience with robotics</p>
                <p style="display: inline; float: right">I work professionally in this field</p>
            </div>
        </div>
        <!-- end of a question -->

         <!-- beginning of a question -->
         <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How much experience do you have with Prolific?</p>
            </div>
            <br>
            <div class="prolific-experience">
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="prolific-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">I have no experience with prolific</p>
                <p style="display: inline; float: right">I work with prolific often</p>
            </div>
        </div>
        <!-- end of a question -->
	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <div class="col-xs-2">
                    <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous
                    </button>
                </div>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" style="margin: 0 auto;" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
