<div id="container-questionnaire">
    <h2 class="postH2">Experiment Complete</h1>

    <h1 class="postH1s">Welcome to the Post Questionnaire</h2>

    <hr />

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Which of the following robots was used in the study?
                </div>
                <br>
                <div class="whichRobot">
                    <div class="robotCard">
                        <img src="/static/images/spot.png" alt="spot" width="100%"">
                        <br>
                        <input id="spot" val="spot" name="selectRobot" type="radio">
                        <label for="spot">Spot</label>
                    </div>
                    <div class="robotCard">
                        <img src="/static/images/turtlebot3.png" alt="turtlebot" width="100%">
                        <br>
                        <input id="turtlebot" val="turtlebot" name="selectRobot" type="radio">
                        <label for="turtlebot">Turtlebot</label>
                    </div>
                    <div class="robotCard">
                        <img src="/static/images/baxter.png" alt="baxter" width="100%">
                        <br>
                        <input id="baxter" val="baxter" name="selectRobot" type="radio">
                        <label for="baxter">Baxter</label>
                    </div>
                    <div class="robotCard">
                        <img src="/static/images/jackal.png" alt="jackal" width="100%">
                        <br>
                        <input id="jackal" val="jackal" name="selectRobot" type="radio">
                        <label for="jackal">Jackal</label>
                    </div>
                </div>
            </div>
            <!-- end of a question -->

            <br>

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the learning task:
                </div>
                <div class="col-md-4">
                    <select id="difficulty" name="difficulty">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
         <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How reliabe would you say the robot is?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not reliable</p>
                <p style="display: inline; float: right">Very reliable</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How confident would you say the robot is?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not confident at all</p>
                <p style="display: inline; float: right">Very confident</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How responsive would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not responsive at all</p>
                <p style="display: inline; float: right">Very responsive</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How sociable would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not sociable at all</p>
                <p style="display: inline; float: right">Very Sociable</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How compassionate would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not compassionate at all</p>
                <p style="display: inline; float: right">Very compassionate</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How awkward would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not awkward at all</p>
                <p style="display: inline; float: right">Very awkward</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How scary would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not scary at all</p>
                <p style="display: inline; float: right">Very scary</p>
            </div>
        </div>
        <!-- end of a question -->
        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How strange would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not strange at all</p>
                <p style="display: inline; float: right">Very strange</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How dangerous would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP1" value="1"></input>
                    <label for="prolificXP1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP2" value="2"></input>
                    <label for="prolificXP2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP3" value="3"></input>
                    <label for="prolificXP3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP4" value="4"></input>
                    <label for="prolificXP4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP5" value="5"></input>
                    <label for="prolificXP5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP6" value="6"></input>
                    <label for="prolificXP6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP7" value="7"></input>
                    <label for="prolificXP7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP8" value="8"></input>
                    <label for="prolificXP8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP9" value="9"></input>
                    <label for="prolificXP9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="prolificXP" id="prolificXP10" value="10"></input>
                    <label for="prolificXP10">10</label>
                </div>
            </div>
            <div class="prolific-descriptions">
                <p style="display: inline;">Not dangerous at all</p>
                <p style="display: inline; float: right">Very dangerous</p>
            </div>
        </div>
        <!-- end of a question -->
        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
