

<div id="container-rossa">
    <h2 class="postH2">Thinking Critically</h1>

    <h1 class="postH1s">Consider the following</h2>

    <hr />

    <p>TODO: Enter paragraph tag here.</p>

    <div class="instructions well">

        <form id="rossaquestionnaire" action="debrief" method="post">

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>reliabe</b> would you say the robot is?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable1" value="1"></input>
                    <label for="rossa-reliable1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable2" value="2"></input>
                    <label for="rossa-reliable2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable3" value="3"></input>
                    <label for="rossa-reliable3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable4" value="4"></input>
                    <label for="rossa-reliable4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable5" value="5"></input>
                    <label for="rossa-reliable5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable6" value="6"></input>
                    <label for="rossa-reliable6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable7" value="7"></input>
                    <label for="rossa-reliable7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable8" value="8"></input>
                    <label for="rossa-reliable8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable9" value="9"></input>
                    <label for="rossa-reliable9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-reliable" id="rossa-reliable10" value="10"></input>
                    <label for="rossa-reliable10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not reliable</p>
                <p style="display: inline; float: right">Very reliable</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>confident</b> would you say the robot is?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident1" value="1"></input>
                    <label for="rossa-confident1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident2" value="2"></input>
                    <label for="rossa-confident2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident3" value="3"></input>
                    <label for="rossa-confident3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident4" value="4"></input>
                    <label for="rossa-confident4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident5" value="5"></input>
                    <label for="rossa-confident5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident6" value="6"></input>
                    <label for="rossa-confident6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident7" value="7"></input>
                    <label for="rossa-confident7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident8" value="8"></input>
                    <label for="rossa-confident8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident9" value="9"></input>
                    <label for="rossa-confident9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-confident" id="rossa-confident10" value="10"></input>
                    <label for="rossa-confident10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not confident at all</p>
                <p style="display: inline; float: right">Very confident</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>responsive</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive1" value="1"></input>
                    <label for="rossa-responsive1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive2" value="2"></input>
                    <label for="rossa-responsive2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive3" value="3"></input>
                    <label for="rossa-responsive3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive4" value="4"></input>
                    <label for="rossa-responsive4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive5" value="5"></input>
                    <label for="rossa-responsive5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive6" value="6"></input>
                    <label for="rossa-responsive6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive7" value="7"></input>
                    <label for="rossa-responsive7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive8" value="8"></input>
                    <label for="rossa-responsive8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive9" value="9"></input>
                    <label for="rossa-responsive9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-responsive" id="rossa-responsive10" value="10"></input>
                    <label for="rossa-responsive10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not responsive at all</p>
                <p style="display: inline; float: right">Very responsive</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>sociable</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable1" value="1"></input>
                    <label for="rossa-sociable1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable2" value="2"></input>
                    <label for="rossa-sociable2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable3" value="3"></input>
                    <label for="rossa-sociable3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable4" value="4"></input>
                    <label for="rossa-sociable4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable5" value="5"></input>
                    <label for="rossa-sociable5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable6" value="6"></input>
                    <label for="rossa-sociable6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable7" value="7"></input>
                    <label for="rossa-sociable7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable8" value="8"></input>
                    <label for="rossa-sociable8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable9" value="9"></input>
                    <label for="rossa-sociable9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-sociable" id="rossa-sociable10" value="10"></input>
                    <label for="rossa-sociable10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not sociable at all</p>
                <p style="display: inline; float: right">Very Sociable</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>compassionate</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion1" value="1"></input>
                    <label for="rossa-compassion1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion2" value="2"></input>
                    <label for="rossa-compassion2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion3" value="3"></input>
                    <label for="rossa-compassion3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion4" value="4"></input>
                    <label for="rossa-compassion4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion5" value="5"></input>
                    <label for="rossa-compassion5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion6" value="6"></input>
                    <label for="rossa-compassion6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion7" value="7"></input>
                    <label for="rossa-compassion7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion8" value="8"></input>
                    <label for="rossa-compassion8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion9" value="9"></input>
                    <label for="rossa-compassion9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-compassion" id="rossa-compassion10" value="10"></input>
                    <label for="rossa-compassion10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not compassionate at all</p>
                <p style="display: inline; float: right">Very compassionate</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>awkward</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward1" value="1"></input>
                    <label for="rossa-awkward1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward2" value="2"></input>
                    <label for="rossa-awkward2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward3" value="3"></input>
                    <label for="rossa-awkward3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward4" value="4"></input>
                    <label for="rossa-awkward4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward5" value="5"></input>
                    <label for="rossa-awkward5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward6" value="6"></input>
                    <label for="rossa-awkward6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward7" value="7"></input>
                    <label for="rossa-awkward7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward8" value="8"></input>
                    <label for="rossa-awkward8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward9" value="9"></input>
                    <label for="rossa-awkward9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-awkward" id="rossa-awkward10" value="10"></input>
                    <label for="rossa-awkward10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not awkward at all</p>
                <p style="display: inline; float: right">Very awkward</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>scary</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary1" value="1"></input>
                    <label for="rossa-scary1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary2" value="2"></input>
                    <label for="rossa-scary2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary3" value="3"></input>
                    <label for="rossa-scary3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary4" value="4"></input>
                    <label for="rossa-scary4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary5" value="5"></input>
                    <label for="rossa-scary5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary6" value="6"></input>
                    <label for="rossa-scary6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary7" value="7"></input>
                    <label for="rossa-scary7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary8" value="8"></input>
                    <label for="rossa-scary8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary9" value="9"></input>
                    <label for="rossa-scary9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-scary" id="rossa-scary10" value="10"></input>
                    <label for="rossa-scary10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not scary at all</p>
                <p style="display: inline; float: right">Very scary</p>
            </div>
        </div>
        <!-- end of a question -->
        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>strange</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange1" value="1"></input>
                    <label for="rossa-strange1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange2" value="2"></input>
                    <label for="rossa-strange2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange3" value="3"></input>
                    <label for="rossa-strange3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange4" value="4"></input>
                    <label for="rossa-strange4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange5" value="5"></input>
                    <label for="rossa-strange5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange6" value="6"></input>
                    <label for="rossa-strange6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange7" value="7"></input>
                    <label for="rossa-strange7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange8" value="8"></input>
                    <label for="rossa-strange8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange9" value="9"></input>
                    <label for="rossa-strange9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-strange" id="rossa-strange10" value="10"></input>
                    <label for="rossa-strange10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not strange at all</p>
                <p style="display: inline; float: right">Very strange</p>
            </div>
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row question">
            <div class="col-md-8">
                <p style="display: inline">How <b>dangerous</b> would you say the robot was?</p>
            </div>
            <br>
            <div class="rossa-scale">
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous1" value="1"></input>
                    <label for="rossa-dangerous1">1</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous2" value="2"></input>
                    <label for="rossa-dangerous2">2</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous3" value="3"></input>
                    <label for="rossa-dangerous3">3</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous4" value="4"></input>
                    <label for="rossa-dangerous4">4</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous5" value="5"></input>
                    <label for="rossa-dangerous5">5</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous6" value="6"></input>
                    <label for="rossa-dangerous6">6</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous7" value="7"></input>
                    <label for="rossa-dangerous7">7</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous8" value="8"></input>
                    <label for="rossa-dangerous8">8</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous9" value="9"></input>
                    <label for="rossa-dangerous9">9</label>
                </div>
                <div class="rossa-radio">
                    <input type="radio" name="rossa-dangerous" id="rossa-dangerous10" value="10"></input>
                    <label for="rossa-dangerous10">10</label>
                </div>
            </div>
            <div class="rossa-descriptions">
                <p style="display: inline;">Not dangerous at all</p>
                <p style="display: inline; float: right">Very dangerous</p>
            </div>
        </div>
        <!-- end of a question -->
        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
