<div id="container-exp">
	<div id="trial">
		<h1>Watch this video</h1>
		<p>Pay attention to the robot.</p>
		<div id="video_player">
			<video id="test1" controls width="650">
				<source src="/static/videos/test1.mp4" type="video/mp4">
			</video>
			<video id="test2" controls width="650">
				<source src="/static/videos/test2.mp4" type="video/mp4">
			</video>
		</div>
		<div id="query"></div>
	</div>

	<form id="check-form" action="">
        <div class="row question">
	    	<p>What robot did you see in the video?</p>
	    	<select id="which-robot" name="robot">
				<option value="N/A" SELECTED>Please Select an Option</option>
				<option value="spot">Spot</option>
				<option value="baxter">Baxter</option>
				<option value="turtlebot">Turtlebot</option>
			</select>
          <br>
	    </div>
    </form>
<!-------

---->

	<div class="instructionsnav">
		<div class="row">
			<div class="col-xs-2">
				<!-- no previous button on first screen -->
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
				<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="'disabled">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
			</div>
		</div>
	</div>
</div>
