<p style="display: inline; float: right; margin-right: 5px;"><span id="time-elasped">00:00</span>/30:00</p>

<div id="container-exp">
	<div id="trial">
		<h1>Watch this video</h1>
		<hr />
		
		<div id="video_player">
			<video id="test1" controls>
				<source src="/static/videos/test1.m4v" type="video/mp4">
			</video>
			<video id="test2" controls>
				<source src="/static/videos/test2.m4v" type="video/mp4">
			</video>
		</div>
		<div id="query"></div>
	</div>
<!-------

---->

	<div class="instructionsnav">
		<div class="row">
			<div class="col-xs-2">
				<!-- no previous button on first screen -->
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
				<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="'disabled">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
			</div>
		</div>
	</div>
</div>
