<p class="timer">
	<span id="time-elapsed">--:--</span><span id="timer-text">/--:--</span>
</p>


<div id="container-exp">
	<div id="trial">
		<h1>Watch this video</h1>
		<hr />
		
		<div id="video_player">
			<video id="test1" autoplay>
				<source src="/static/videos/test1.m4v" type="video/mp4">
			</video>
		</div>
		<div id="query"></div>
		<div class="video-controls">
			<button id="play-button">Pause</button>
			<button id="restart-button">Restart</button>
		</div>
	</div>
<!-------

---->

	<div class="instructionsnav">
		<div class="row">
			<div class="col-xs-2">
				<!-- no previous button on first screen -->
			</div>
			<div class="col-xs-8">
			</div>
			<div class="col-xs-2">
				<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="'disabled">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
			</div>
		</div>
	</div>
</div>
