<div id="container-instructions">
    <h1>Instructions</h1>
    <hr />

    <div class="picture-frame">
        <img src="/static/images/frame1.png" alt="a turtlebot robot and its cone of vision" class="frame1">
        <img src="/static/images/frame2.png" alt="a stationary turtlebot with a transript of a conversation" class="frame2">
    </div>

    <div class="instructions well">
        <p>
            The stills above show what the experiment may look like. 
            The image on the left shows that the focus would be on the turtlebot snf hoe well the robot responds to voice commands given by the speaker.
            The image on the right is where a turtlebot would be responding to the speaker as well as answering questions for clarification, the command window has been included to give a transcript of the conversation. 

        </p> 
        <br>

        <p>
            <b>Note:</b> If you need to re-read any of the previous instructions, please do so now as you will not be able to return after this page.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
