<div id="container-instructions">

	<h1>Instructions</h1>
	<hr />

	<div class="instructions well">
	    <p>
		    Thank you for participating in the following robotics experiment, a study of which focuses on human-robotic interaction (HRI).
	    </p>
	    <p>
	    	You will read a few brief pages of instructions before filling out some information about yourself. None of this data can be used to identify you and is only collected as a means to understand how different people may interpret the same situation uniquely.
        </p>
        <p>
            You will be asked basic information such as your gender, your age, experience, and your Prolific ID. Please have this information ready.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>
	<hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
