<div id="container-instructions">
    <h1>Instructions</h1>
    <hr />

    <div class="instructions well">
        <p>
            Note that this experiment is a <i><u>timed</u></i> experiment.
        </p>
        <p>
            Once you begin, a timer starts and will appear at the top right corner of the screen for the duration of the experiment.
            You will have a total of 15 minutes before the experiment expires. 
            Once an experiment expires, the study will exit and your data will <u>not</u> be recorded. This means that the experiment will be unable to be completed.
            This is to ensure that you have actually completed the experiment to the best of your abilities and ensure that we have the most accurate data available.
            Don't worry about the time limit as you will have ample time to finish, the timer is only for your own knowledge.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
