<div id="container-instructions">
    <h1>Instructions</h1>
    <hr />

    <div class="instructions well">
        <p>
            <b>Note:</b> If you need to re-read any of the previous instructions, please do so now as you will not be able to return after this page.
        </p>
        <br>

        <p>
        	After filling out the form, you will observe a series of short videos. Make sure to pay attention to the video by watching and listening to the content. After every video you will be asked to answer various questions, please answer honestly and to the best of your ability.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
